/* -- configurando margenes------ */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* --fondo de pagina------------ */
body{
    background-image: url(./pinkback1.png);
}

/* -cuerpo----------------------- */
#formback{
    width: 994px;
    padding: 30px;
    margin:auto;
    margin-top: -20px;
    background: #C4C4C4;
    box-shadow: 0px 4px 4px 2px rgba(44, 22, 67, 0.25);
}

/* -- Titulo de encabezado----------- */
#headerbox{
    position: relative;
    width: 1000px;
    height: 135px;
    background: #E3BEBE;
    margin:auto;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px 2px rgba(44, 22, 67, 0.25);
    border-radius: 21px 21px 0px 0px;
    padding-right: 11px;
    text-align: center;
    margin-top: 60px;
}
/* -- contenedor de logo y titulo------------- */
#toptitle{
    width: 750px;
    margin: auto;
    padding-top: 27px;

}

#logo{
    width: 45px;
    line-height: 45px;  
    float: left;
    padding-left: 15px;
}

#title{
    width: 750px;
    line-height: 45px;
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    font-size: 30px;
    color: #624172;
    padding-left: 60px;

    
}

/* -- Subtitulo de encabezado--------- */
#p{
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    font-size: 20px;
    color: #6A6A6A;
    padding-top: 15px;
    padding-right: 35px;
}
/* --Area instrucciones------------ */
#instructions{
    width: 840px;
    height: auto;
    padding-bottom: 20px;
    padding-top: 10px;
    margin:auto;
    margin-bottom: 40px;
    border: 1.5px solid #9C9C9C;
    border-radius: 4px;
    font-family:'Josefin Slab', serif;
    font-size: 16px;
    font-weight: 600;
    color: #5F5D5D;
    background: #C4C4C4;
    text-align: center;

}

/* --input numero desplazamiento----- */
#number{
    width: 80px;
    height: 30px;
    padding: 3px;
    margin-bottom: 7px;
    margin-top: 18px;
    box-shadow: inset 0px 4px 4px rgba(44, 22, 67, 0.25);
    background: #E9E8E8;
    border: 1px solid #A6A4A4;
    box-sizing: border-box;
    border-radius: 3px 0px 0px 3px;
    font-family: Noto Sans;
    font-size: 12px;
    line-height: 19px;
    
}

/* --Casillas entrada y salida de texto-------- */
.textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    height: 140px;
    padding: 10px;
    margin-bottom: 24px;
    margin-top: 24px;
    resize: none;
    background: #E0DFDF;
    border: 1px solid #A6A4A4;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    font-family: Noto Sans;
    font-size: 14px;
    
}


/* --Contenedor y Botones codificar y decodificar-------- */
#bottons{
    width: 542px;
    margin: auto;
    display: flex; justify-content: space-between;
}

.btn{
    width: 256px;
    height: 57px;
    border: none;
    border-radius: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #C9C6C6;
    background: #7D6F84;
    box-shadow: 0px 4px 4px rgba(44, 22, 67, 0.25);
    cursor: pointer;
}

.btn:hover{
    background: #9A89A3;
    }

/* -- Boton borrar--------- */
#borrar{
    width: 542px;
    margin: auto;
    display: flex; justify-content: center;
}

#delete{
    width: 156px;
    height: 34.73px;
    border: none;
    border-radius: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #C9C6C6;
    background: #7D6F84;
    box-shadow: 0px 4px 4px rgba(44, 22, 67, 0.25);
    text-align: center;
    cursor: pointer;
}

#delete:hover{
    background: #9A89A3;
    }


#mostrar{
    height:20px;
    font-family:'Josefin Slab', serif;
    font-size: 25px;
    font-weight: 700;
    color: #c2727f;
    justify-content: center;
}

